# Dart and Flutter-related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
pubspec.lock
.flutter
.bash_history
.bash_profile
infodev.iml
analysis_options.yaml
.metadata
.vscode/
.android/
.config/
.dart-tool/
.gradle/
.java/
.kotlin/
build/
android
ios
web
windows
macos
linux
.idea/
